body{
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    text-align: center;
}

main{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 8px;
}

@media (max-width: 460px){
 #main{
     margin: 0;
 }
}

h1{
    font-size: 40px;
}

@media(max-width: 500px){
    h1{
        font-size: 55px;
        line-height: 1;
    }
}

h3{
    text-align: center;
}

p{
    font-size: 20px;
}

ul{
    text-align: left;
    line-height: 1.6;
    max-width: 500px;
    margin: 0 auto 50px auto;
}

li{
    margin: 10px 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-div{
    background-color: white;
    padding: 10px;
    margin: 0;
}

#img-caption{
    margin: 15px 0 5px 0;
}

@media (max-width: 460px){
    #img-caption{
        font-size: 15px;
    }
}

blockquote{
    font-style: italic;
    text-align: left;
    max-width: 540px;
    margin: 0 auto 30px auto;
}

a{
    color: rgb(86, 86, 211);
}

a:visited{
    color: blue;
}

a:hover{
    color: purple;
}