*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(192, 192, 221)
}

/* navbar part */

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 310px;
    height: 100%;
    text-align: center;
    border-right: 2px solid gray;
    background-color: rgb(252, 217, 152);
    font-family: 'Open Sans', sans-serif;
}

#nav-bar header{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom:20px;
    font-weight: 800;
}

#nav-bar ul{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: 600;
}

@media (max-width: 700px){
    #navbar ul{
        border: 1px solid;
        height: 207px;
    }
}

#nav-bar ul li{
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    list-style-type: none;
    border-top: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}

#nav-bar a{
    display: block;
    text-decoration: none;
    color: blue;
}

#nav-bar ul li a:hover{
    color: orange;
}

/* body part */

#main-doc{
    position: absolute;
    margin-left: 370px;
    margin-right: 50px;
    font-family: 'Open Sans', sans-serif;
}


.main-section header{
    font-size: 2.2rem;
    padding: 20px 0;
    text-align: left;
    font-weight: 800;
    border-bottom: 2px solid black;
}

.main-section p{
    text-align: left;
    line-height: 1.6;
    font-size: 1.3rem;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    font-weight: 500;
}

.main-section ul{
    font-size: 1.3rem;
    line-height: 1.6;
    padding-left: 80px;
    font-weight: 500;
}

.code{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(226, 223, 223);
    border-radius: 8px;
    width: 100%;
    min-width: 220px;
    padding-left: 10px;
}

#Reference{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#Reference ul{
    padding-top: 15px;
}

#Reference a{
    color: green;
    font-weight: 800;
}

#Reference a:hover{
    color: purple;
}
