*{
    margin: 0;
    padding: 0;
}

body{
background-color: rgb(236, 234, 234);
font-family: 'Open Sans', sans-serif;
}
/* header part */

#header{ 
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: rgb(236, 234, 234);
}

@media (max-width: 600px){
  #header{
      flex-wrap: wrap;
  }
}

#header-img{
    height: 55px;
    width: 65px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 12px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo p{
    font-size: 1.1rem;
}

#nav-bar ul{
    display: flex; 
}

#nav-bar ul li{
    list-style-type: none;
    padding: 12px;
    font-size: 1.1rem;
}

.nav-link{
    text-decoration: none;
}

.nav-link:hover{
    color: orange;
}

/* enquiry part */

#enquiry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}
.container1 h2{
    margin-bottom: 20px;
}

#enquiry input[type='email']{
    max-width: 275px;
    width: 100%;
    padding:5px;
}

#enquiry input[type='submit']{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    background-color: yellow;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

#enquiry input[type='submit']:hover{
    background-color: orange;
}

/* body part */

#Features{
    margin-top: 120px;
}

@media (max-width: 650px){
    #Features{
        margin-top: 120px;
    }
}

.grid{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.grid img{
    height: 65px;
    width: 70px;
    padding: 8px 30px;
    margin-right: 20px;
}

@media (max-width){
    .grid img{
        display: none;
    }
}

.container2{
    margin-left: 30px;
}

.container2 p{
    font-size: 1.1rem;
}


/* video */

#video{
    margin: 60px 220px;
    width: 60%;
}

/* pricing */

#Pricing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 3px;
}

.level{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: rgb(216, 216, 216);
}

.product h2{
    margin: 15px;
}

.product ol{
    margin: 30px;
    list-style-type: none;
}

.product ol li{
    margin: 0 30px;
    padding: 5px 0;
}

.product .btn{
    border: 0;
    padding: 10px;
    margin: 15px;
    background-color: yellow;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}

.product .btn:hover{
    background-color: orange;
}

/* footer */

footer{
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    margin-top: 30px;
    background-color:  rgb(216, 216, 216) ;
}

.terms{
   padding: 10px;
}

.terms ul{
    padding: 10px;
    display: flex;
}


.terms ul li{
    list-style-type: none;
    padding: 0 12px;
    text-decoration: none;
}

.terms ul li a{
    text-decoration: none;
}
    

